<%= stylesheet_link_tag "active_admin_modal_upload/style" %>

<%
options = options ||= {}
image_preview = options[:preview_image_size] ||= :thumb
uploader_id = options[:uploader_id] ||= "#{resource}_uploader"
modal_id = "#{resource.class.name.downcase}-#{association}-uploader"
%>


<div>
  <div id="photo-box">
    <%= link_to_modal "Add File", "\##{modal_id}", :class => "button" %>
  </div>
  <% resource.send(association.to_sym).each_with_index do |file, index| %>
    <div class="file-preview">
      <%= image_tag file.image_url(image_preview) %>
    </div>
    <div class="remove-file">
      <%= check_box_tag("#{resource}[#{association.underscore}_attributes][#{index}][_destroy]") %>
      <%= hidden_field_tag("#{resource}[#{association.underscore}_attributes][#{index}][id]", file.id) %>
    </div>
  <% end %>
</div>
